*{
  margin: 0;
  padding: 0 0 0 0;
}
html,body{
  height: 100%;
  background-image: linear-gradient(green,rgb(112, 112, 210),blue);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  padding-right: 0;
}
.main-heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 80px;
  width: 1000px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  background-image: linear-gradient(#87f3eb,#7d90fb,#87f3eb);
}
.inner-navbar{
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 100px;
}
.navbar-outer{
  justify-content: center;
  align-items: center;
}
.main-content{
  display: flex;
  justify-content: center;

}
.hero-content{
  display: flex;
  border: 2PX solid black;
  justify-content: center;
  height: 450px;
  width: 1000px;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(#87f3eb,#7d90fb,#87f3eb,blue);

} 
.hero-img{
  height: 250px;
  width: 250PX;
  border-radius: 20%;
  margin-top: 30PX;
  box-shadow: 0 0 10px 5px rgb(66, 66, 209);
  background-size: cover;
  transition: 0 0 0.5s;
  transform: scale(0 1);
}
img{
  height: 250px;
  width: 250PX;
  background-size: cover;
  border-radius: 20%;
}
.hero-img:hover{
  box-shadow: 0  0 5px 7px orangered;
  font-weight: 800;
  transition: 0.2s;
  transform: scale(1.02);

}
.text{
  height: 300px;
  width: 600px;
  margin-top:100px;
  margin-left: 20px;
}
h1{
  font-size: 50px;
}

h2{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  font-style: italic;
}
p{
  margin-bottom: 10PX;
  font-size: 20PX;
}
a:hover{
  font-weight: 900;
  color: red;
}
.buttons{
  height: 120px;
  width: 300px;
  display: flex;

}
.btn-one{
  height: 55px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: black;
  border-radius: 10px;
  background-color:orange;
  border: 2px solid black;
}
.btn-two{
  height: 55px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color:black;
  border-radius: 10px;
  background-color:orange;
  border: 2px solid black;
}
.buttons a{
  font-size: 15px;
  font-weight: 800;
  font-weight: bold;
}
.btn-one:hover{
  background-color: orange;
  box-shadow: 0  0 5px 7px orangered;
  font-weight: 800;
  transition: 0.2s;
  transform: scale(1.02);
}
.btn-two:hover{
 background-color: orange;
  box-shadow: 0  0 5px 7px orangered;
  font-weight: 800;
  transform: scale(1.02);
  transition:0.2s;
}
.click{ 
  height: 55px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color:black;
  border-radius: 10px;
  background-color:orange;
  border: 2px solid black;
}
.click:hover{ background-color: orange;
  box-shadow: 0  0 5px 7px orangered;
  font-weight: 800;
  transform: scale(1.02);
  transition:0.2s;
}
.row{
  display: flex;
  gap: 120px;
}
 .container{
  margin: auto;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(25, 31, 29);
 }
 .footer{
   padding: 100px;
   padding-top: 10px;
   color: white;
   column-gap: 10px;
   background-color: rgb(25, 31, 29);
  }
h4{
  font-weight: 900;
  font-size: 25px;
  color: white;
}
.Skills{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-image: linear-gradient(black,rgb(85, 85, 221),orange);
}
.skill{
  height: 150px;
  width: 150px;
  background-size: contain;
  border-radius: 20%;
  margin: 20px;
  background-color: #87f3eb;
  
}
.learned{
  display: flex;
  justify-content: center;
  font-style: italic;
  color: black;
}
.skill:hover{
  box-shadow: 0  0 5px 7px orangered;
  font-weight: 800;
  transform: scale(1.02);
  transition:0.2s;
}
@media screen and (max-width:500px){
.inner-navbar{
  gap: 20PX;
  padding-left: 20PX;
}
  .buttons{
    width: 250PX;
  }
  .About-h1{margin-bottom: 10px;

  }
  .container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .learned{
    padding-top: 2px;
  }
  .buttons{
    width: 200px;
  }
  .row{
    font-size: 15PX;
    gap: 35PX;

  }
  img{
    width: 150px;
    height: 200px;
  }
  .hero-img{
    height: 200px;
    width: 150px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  p{
    font-size: 15px;
    padding-right: 30px;
    font-size: 11PX;
  }
  .click{
    display: none;
  }
  .skill{
    flex-wrap: wrap;
    height: 60px;
    width: 100px;
    gap: 10px;
    margin: 0 0 0 0 ;
  }
  H4{
    font-size: 12PX;
  }
  .text{
    width: 200px;
    margin-top: 25px;
  }
  .footer{
    margin-top: 10px;
  }
}

  

